/* Erik Hernandez, Assignment: JavaScript Exercise, Part 4 */

h1 {
    text-align: center;
}

.container {
    width: 100%; /* Set the container's width to 100% */
}

.column {
    width: 45%; /* Adjust the width of the columns */
    float: left;
}

h3 {
    font-weight: 500;
}

ol {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style: inside;
}

ul {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style: upper-roman;
}

a:hover {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}